<header class="mui-appbar-height site-appbar mui-z2">

  <div class="mui-container">
      <div style="float: left">

    <a class="site-title" href="{{ site.baseurl }}/">
        <h1>{{ site.title }}</h1>
    </a>
    <a href="{{ site.baseurl_root }}/fr">
        <img src="http://upload.wikimedia.org/wikipedia/commons/1/14/Flag_of_france.png" />
    </a>
    <a href="{{ site.baseurl_root }}/">
        <img src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Union_Jack_22x16.png" />
    </a>
  </div>
  </div>

</header>
